#ETR{
    height: min-content;
    margin-top: 7ex;

    white-space: nowrap;

    font-size: 15pt;
    text-align: center;
    text-shadow: var(--shadow);
}

#ETRValue{
    margin-top: 4pt;
    text-transform: uppercase;
}
