:root{
    --background01: rgb(11, 12, 10);
    --foreground01: rgb(156, 216, 165);
    --foreground02: rgb(206, 255, 213);
    --shadow: 0 0 25pt var(--foreground01),  0 0 10pt var(--foreground01),  0 0 2pt var(--foreground01);
    --shadow-low: 0 0 10pt var(--foreground01);
    --shadow-bg: 0 0 20pt var(--background01);
}

@font-face {
    font-family: 'disposabledroid_bbregular';
    src: url('font/disposabledroid-bb.regular-webfont.woff2') format('woff2'),
         url('font/disposabledroid-bb.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;

    width: 100vw;
    height: 100vh;

    font-size: 12pt;
    font-family: 'Courier', monospace;
    letter-spacing: 1pt;
    text-shadow: var(--shadow);    

    color: var(--foreground01); 
    background-color: black;
}

#screen{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;
    width: 100vw;*/
    height: 92vh;
    width: 95vw;

    border-radius: 8vh;

    background-color: var(--background01);
    box-shadow: inset 0 0 2vw black, inset 0 0 4vw black;
}

.dirty::before{  
    height: 92vh;
    width: 95vw;
    background-image: url('../media/old_screen_overlay.png');
    background-size: cover;
    content:"";
    position:fixed;
    display:inline-block;
}

main{
    display: inline;
    width: 90%;    
    max-width: 12cm;    
}

#fullTitle{
    display: block;
}

.cTitle{
    text-align: center;    
    width: 100%;
}

#cTitle2{
    display: inline-block;
    text-indent: 1ex;
}

#cursor{
    display: inline-block;
    height: 14pt;
    width: 10pt;

    background-color: var(--foreground01);
    border-radius: 2pt;
    box-shadow: var(--shadow);

    opacity: 1;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}